<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body style="background-color:orange;">
    <!-- Navbar pagina riservata -->
    <nav class="navbar" id="menu">
      <div class="container-fluid">
        <div class="nav nav-pills">
          <div id="pointBar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">
                  <div class="navbar-header" style="color:darkorange; background-color:white;">
                    <text class="navbar-brand" style="color:darkorange; background-color:white;"><strong>1stassignment</strong></text>
                    <br/>
                  </div>
                    <ul class="nav navbar-nav navbar-rigth">
                      <li><a type="submit" href="/logout" class="btn btn-warning" value="logout">Logout</a></li>
                    </ul>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </nav>
    <!-- Pagina riservata con numero delle volte in cui lo user ha visitato questa pagina. -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="tab-content" style="padding:1%;">
            <h2 style="text-align:center">Salve {{ nk }}, hai visitato questa pagina {{ na }}</h2>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
