<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" charset="utf-8">
            var checkNickList = {{ nL|tojson|safe }}
            var checkEmailList = {{ eL|tojson|safe }}
        </script>
    <script type="text/javascript" src="{{ url_for('static', filename='regControl.js') }}"></script>
    <script>
      $(document).ready(function(){
        setTimeout(function() {
          $("#successMessage").fadeToggle();
        }, 3000);
      });
    </script>
  </head>
  <body style="background-color:orange;">
    <!-- Navbar -->
    <nav class="navbar" id="menu">
      <div class="container-fluid">
        <div class="nav nav-pills">
          <div id="pointBar">
            <div class="container">
              <div class="row">
                <div class="col-sm-12">

                  <div class="navbar-header" style="color:darkorange; background-color:white;">
                    <text class="navbar-brand" style="color:darkorange; background-color:white;"><strong>1stassignment</strong></text>
                    <br/>
                  </div>
                    <ul class="nav navbar-nav navbar-rigth">
                      <li><a  class="btn btn-warning" class="active" data-toggle="pill" href="#accedi"><text>Accedi</a></li>
                      <li><a  class="btn btn-warning" data-toggle="pill" href="#registrati"><text>Registrati</text></a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="tab-content" style="padding:1%;">
            <!-- login -->
            <div id="accedi" class="tab-pane fade in active">
              <div class="container">
                <h2>Benvenuto su 1stassignment:</h2>
                <form method="POST" action="/signin">
                  <div class="form-group">
                    <h3>E-mail Address:</h3>
                    <input type="email" class="form-control" name="emailL" placeholder="Enter email" required>
                  </div>
                  <div class="form-group">
                    <h3>Password:</h3>
                    <input type="password" class="form-control" name="pwdL" placeholder="Enter password" required>
                  </div>
                  <button type="submit" class="btn btn-default" value="submit">Sign In</button>
                  <button type="reset" class="btn btn-default" value="cancel">Cancel</button>
                </form>
              </div class="alert alert-success" role="alert">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <h3 class="flashes" style='color:green' id="successMessage">{{ message }}</h3>
                  {% endfor %}
                {% endif %}
              {% endwith %}
              {% block body %}{% endblock %}
            </div>
            <!-- registrazione -->
            <div id="registrati" class="tab-pane fade">
              <div class="container">
                <h2>Registrati:</h2>
                <form method="POST" action="/signup">
                  <div class="form-group">
                    <h3>Nickname:</h3>
                    <input type="text" class="form-control" name="nickname" placeholder="Enter nickname" onkeyup="checknick()" required>
                    <h5 style="color:red; font-size:16px;" id="erroreNick"></h5>
                  </div>
                  <div class="form-group">
                    <h3>Name:</h3>
                    <input type="text" class="form-control" name="name" placeholder="Enter name" onkeyup="checkname()" required>
                    <h5 style="color:red; font-size:16px;" id="erroreNome"><h5>
                  </div>
                  <div class="form-group">
                    <h3>Surname:</h3>
                    <input type="surname" class="form-control" name="surname" placeholder="Enter surname" onkeyup="checksurname()" required>
                    <h5 style="color:red; font-size:16px;" id="erroreCognome"><h5>
                  </div>
                  <div class="form-group">
                    <h3>E-mail Address:</h3>
                    <input type="email" class="form-control" name="emailR" placeholder="Enter email" onkeyup="checkmail()" required>
                    <h5 style="color:red; font-size:16px;" id="erroreMail"><h5>
                  </div>
                  <div class="form-group">
                    <h3>Password:</h3>
                    <input type="password" class="form-control" name="pwdR" placeholder="Enter password" onkeyup="checkpw()" required>
                    <h5 style="color:red; font-size:16px;" id="errorePassword"><h5>
                  </div>
                  <button type="submit" class="btn btn-default" value="confirm" onclick="return checksubmit()">Sign Up</button>
                  <button type="reset" class="btn btn-default" value="cancel">Cancel</button>
                  <h5 style="color:red; font-size:16px;" id="erroreForm"></h5>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
